<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @account_status.description %>
</p>

<%= link_to 'Edit', edit_account_status_path(@account_status) %> |
<%= link_to 'Back', account_statuses_path %>
