<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @user_permission.description %>
</p>

<%= link_to 'Edit', edit_user_permission_path(@user_permission) %> |
<%= link_to 'Back', user_permissions_path %>
