<a href="welcome/cart">Nueva Venta</a>
<a href="users">Recursos Humanos</a>
<a href="providers">Compre Proveedores</a>
<a href="current_accounts">Clientes</a>

<div class="panel">
	<div class="item">
		<a href="sales/sales-menu">Ventas</a>
	</div>
	<div class="item">
		<a href="users">Recursos Humanos</a>
	</div>
</div>