<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @salary_discount.total %>
</p>

<%= link_to 'Edit', edit_salary_discount_path(@salary_discount) %> |
<%= link_to 'Back', salary_discounts_path %>
