<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @salary_asset.total %>
</p>

<%= link_to 'Edit', edit_salary_asset_path(@salary_asset) %> |
<%= link_to 'Back', salary_assets_path %>
